* {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

.links:before {
	content: "";
	position: fixed;
	top: -10%;
	left: -10%;
	z-index: -1;

	display: block;
	background-image: url("/background.jpg");
	background-size: cover;
	background-position: center;
	width: 120%;
	height: 120vh;
	overflow: hidden;

	filter: blur(15px);
}

.links {
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 15vh 20%;
	align-content: center;
}

.row {
	overflow: auto;
	height: 25vh;
	align-content: center;
	vertical-align: middle;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}

a {
	width: 15%;
	display: block;
	float: left;
	margin: 5px 5%;
}

a img {
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	transition: filter 0.5s;
}

a img:hover {
	filter: drop-shadow(0px 0px 4px #6c5ce7);
}